i
  font-family: $icomoon-font-family !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  margin: 0.7rem

.icon-add-assignee:before
  content: $icon-add-assignee
  color: #383175

.icon-add-work:before
  content: $icon-add-work
  color: #383175

.icon-arrow-double-up:before
  content: $icon-arrow-double-up
  color: #383175

.icon-arrow-right:before
  content: $icon-arrow-right
  color: #383175

.icon-block-settings:before
  content: $icon-block-settings
  color: #383175

.icon-break-link:before
  content: $icon-break-link
  color: #383175

.icon-calendar:before
  content: $icon-calendar

.icon-calendar-view:before
  content: $icon-calendar-view

.icon-close:before
  content: $icon-close
  color: #c3c3de

.icon-complete-all:before
  content: $icon-complete-all

.icon-completed:before
  content: $icon-completed
  color: #383175

.icon-cost-analisys
  .path1:before
    content: $icon-cost-analisys-path1
    color: rgb(202, 94, 184)
  .path2:before
    content: $icon-cost-analisys-path2
    margin-left: -1.05859375em
    color: rgb(202, 94, 184)
  .path3:before
    content: $icon-cost-analisys-path3
    margin-left: -1.05859375em
    color: rgb(203, 89, 184)

.icon-drag:before
  content: $icon-drag
  color: #383175

.icon-edit
  .path1:before
    content: $icon-edit-path1
    color: rgb(56, 49, 117)
  .path2:before
    content: $icon-edit-path2
    margin-left: -1em
    color: rgb(216, 216, 216)

.icon-filter
  .path1:before
    content: $icon-filter-path1
    color: rgb(56, 49, 117)
  .path2:before
    content: $icon-filter-path2
    margin-left: -1.142578125em
    color: rgb(255, 255, 255)
  .path3:before
    content: $icon-filter-path3
    margin-left: -1.142578125em
    color: rgb(255, 255, 255)
  .path4:before
    content: $icon-filter-path4
    margin-left: -1.142578125em
    color: rgb(255, 255, 255)

.icon-hide:before
  content: $icon-hide
  color: #383175

.icon-in-progress:before
  content: $icon-in-progress
  color: #57cc95

.icon-invoiced:before
  content: $icon-invoiced
  color: #57cc95

.icon-link:before
  content: $icon-link

.icon-load-more:before
  content: $icon-load-more
  color: #383175

.icon-lock:before
  content: $icon-lock

.icon-logout:before
  content: $icon-logout

.icon-material-available:before
  content: $icon-material-available
  color: #57cc95

.icon-material-wait:before
  content: $icon-material-wait
  color: #85348a

.icon-next:before
  content: $icon-next
  color: #383175

.icon-note-add:before
  content: $icon-note-add

.icon-note-add-lg:before
  content: $icon-note-add-lg
  color: #f2627b

.icon-note-success:before
  content: $icon-note-success
  color: #57cc95

.icon-note-success-lg:before
  content: $icon-note-success-lg
  color: #57cc95

.icon-note-view:before
  content: $icon-note-view

.icon-not-started:before
  content: $icon-not-started
  color: #868ec0

.icon-on-hold:before
  content: $icon-on-hold
  color: #f99c11

.icon-prev:before
  content: $icon-prev
  color: #383175

.icon-reload:before
  content: $icon-reload
  color: #383175

.icon-remove:before
  content: $icon-remove
  color: #f2627b

.icon-search:before
  content: $icon-search
  color: #383175

.icon-shipped:before
  content: $icon-shipped
  color: #59a8ca

.icon-show:before
  content: $icon-show
  color: #d2d2d8

.icon-waiting:before
  content: $icon-waiting
  color: #f99c11

.icon-list-view:before
  content: $icon-list-view
  color: #383175

.icon-warning-remark:before
  content: $icon-warning-remark
  color: #f2627b