$default-font: "titillium", sans-serif
$second-fond: "OpenSans", sans-serif
$purple-dark: #2a2b4c
$purple: #383175
$purple-lighten: lighten($purple, 64%)
$green: #57cc95
$red: #f2627b
$orange: #f99c11
$grey: #72727e
$white: #ffffff
$text: #2a2b4c
$hover: #0b0446
$blue: #2630e3


// PascoIcon
$icomoon-font-family: "PascoIcons" !default

$icon-add-assignee: "\e900"
$icon-add-work: "\e901"
$icon-arrow-double-up: "\e902"
$icon-arrow-right: "\e903"
$icon-block-settings: "\e904"
$icon-break-link: "\e905"
$icon-calendar: "\e906"
$icon-calendar-view: "\e907"
$icon-close: "\e908"
$icon-complete-all: "\e909"
$icon-completed: "\e90a"
$icon-cost-analisys-path1: "\e90b"
$icon-cost-analisys-path2: "\e90c"
$icon-cost-analisys-path3: "\e90d"
$icon-drag: "\e90e"
$icon-edit-path1: "\e90f"
$icon-edit-path2: "\e910"
$icon-filter-path1: "\e911"
$icon-filter-path2: "\e912"
$icon-filter-path3: "\e913"
$icon-filter-path4: "\e914"
$icon-hide: "\e915"
$icon-in-progress: "\e916"
$icon-invoiced: "\e917"
$icon-link: "\e918"
$icon-load-more: "\e91a"
$icon-lock: "\e91b"
$icon-logout: "\e91c"
$icon-material-available: "\e91d"
$icon-material-wait: "\e91e"
$icon-next: "\e91f"
$icon-note-add: "\e920"
$icon-note-add-lg: "\e921"
$icon-note-success: "\e922"
$icon-note-success-lg: "\e923"
$icon-note-view: "\e924"
$icon-not-started: "\e925"
$icon-on-hold: "\e926"
$icon-prev: "\e928"
$icon-reload: "\e929"
$icon-remove: "\e92a"
$icon-search: "\e92b"
$icon-shipped: "\e92c"
$icon-show: "\e92d"
$icon-waiting: "\e92e"
$icon-list-view: "\e927"
$icon-warning-remark: "\e919"




// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1440px)

$gutter: $grid-gutter-width

.navbar-brand
  text-transform: uppercase
  font-size: 18px
  font-weight: 600
  letter-spacing: 0.6px
  color: $purple

.navbar, .navbar-nav, .nav-link
  height: 60px
  line-height: 60px
  padding-top: 0
  padding-bottom: 0

.navbar-expand-sm .navbar-nav .nav-link
  padding-right: 1rem
  padding-left: 1rem

.navbar-nav, .nav
  font-size: 18px
  font-weight: 600
  line-height: 1.33
  letter-spacing: 0.6px

.navbar-brand
  padding: 0

.btn-primary, .btn-primary:hover
  border-radius: 2px
  border-color: transparent
  padding-left: 1.5rem
  padding-right: 1.5rem
  font-weight: 600

.btn-primary:not(:disabled):not(.disabled).active
  background-color: $purple
  border-color: transparent

.btn-primary
  background-color: $purple-lighten
  color: $purple

.btn-primary:hover
  background-color: darken($purple-lighten, 10%)
  color: $purple

.btn-light
  color: $purple
  text-transform: uppercase
  font-size: 16px
  font-weight: 600
  font-family: $default-font
  border-radius: 2px
  box-shadow: 0 1px 6px 0 #cfcde1
  background-color: #ffffff
  //padding-left: 1.5rem
  //padding-right: 1.5rem

.btn-light:hover
  background-color: $purple-lighten
  border-radius: 2px
  color: $purple

.table td
  padding: 1.3rem 0rem
  border-bottom: 2px solid lighten($grey, 45%)
  border-top: 2px solid lighten($grey, 45%)

.table tbody tr td
  vertical-align: middle



