@import "vars"
@import "fonts"
@import "libs"
@import "icon-pasco"

::placeholder
  color: $grey

::selection
  background-color: $white

body
  font-size: 14px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: $grey 1px solid
    outline: none
    &:focus:required:invalid
      border-color: $red
    &:required:valid
      border-color: $green

b, strong
  font-weight: bold

a
  color: $grey
  &:hover
    color: $hover
    text-decoration: none

li.nav-item.active a.nav-link, li.nav-item a.nav-link:hover
  color: $purple
  background-color: $purple-lighten
  border-top: $red 2px solid

.navbar-custom
  position: relative
  z-index: 9999
  background-color: $white

.nav-tabs
  border-bottom: 2px solid lighten($grey, 45%)


nav.nav.nav-tabs.nav-stacked a.nav-link:hover
  border: none

nav.nav.nav-tabs.nav-stacked a.nav-link.active::after, nav.nav.nav-tabs.nav-stacked a.nav-link:hover::after
  position: absolute
  left: 0
  right: 0
  content: ''
  border-bottom: 2px solid $red
  display: block

a.nav-link
  position: relative

//padding-left: 2rem
  //padding-right: 2rem

.nav-tabs .nav-link.active, nav.nav.nav-tabs.nav-stacked a.nav-link:hover
  border-top: none
  border-left: none
  border-right: none

ul
  list-style: none

.bg-shadow
  box-shadow: 0 2px 12px 0 #cfcde1

i
  font-family: 'PascoIcons' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-list-view-icon:before
  content: "\e90f"
  color: #383175

.label
  display: block
  font-family: $second-fond
  font-weight: 600
  color: $grey
  margin: 0.5rem 0
  white-space: nowrap

.label-small
  display: block
  font-size: 12px
  color: $grey
  margin: 0.6rem 0 !important
  font-style: italic !important
  font-weight: normal !important
  font-stretch: normal !important

.custom-select
  border-radius: 2px
  border: solid 2px #e7e7f2

.order-number
  font-family: $second-fond
  color: $blue
  font-size: 16px
  font-weight: 600

.badge-in-progress, .badge-completed, .badge-not-started, .badge-on-hold
  color: white
  font-size: 12px
  font-family: $second-fond
  border-radius: 12px
  padding: 0.4rem 1rem
  margin-left: 2rem
  width: 100px

.badge-in-progress
  background-color: $green

.badge-completed
  background-color: $purple

.badge-not-started
  background-color: lighten($purple, 45%)
  color: $white

.badge-on-hold
  background-color: $orange

.table-label
  color: $grey
  font-family: $second-fond

.table-link, .table-date
  color: $purple
  font-family: $second-fond

.job-counter
  color: $purple-dark
  font-family: $second-fond
  font-weight: 600

.status-invoice
  color: $purple
  font-size: 18px
  font-style: italic

.status-waiting-invoiced
  color: $orange
  font-family: $second-fond
  text-transform: uppercase
  font-weight: 600

.btn-status
  font-weight: 600
  text-transform: uppercase
  background-color: $white
  &:hover
    border-radius: 2px
    box-shadow: 0 1px 6px 0 #cfcde1

.warning
  color: $red
  font-family: $second-fond
  font-weight: 600

.footer-text
  font-family: $second-fond
  font-size: 12px
  font-weight: 600
  color: lighten($grey, 15%)


@import "media"
// Always at the end
